* {
    margin: 0;
    padding: 0;
}

// Test de canvis
@import 'colors';
@import 'mixins';
@import 'animacio';

.nad-cuerpo {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anonymous Pro', monospace;
    font-weight: 700;
    flex-direction: column;

    h1 {
        color: #000;

        // #888;
        text-align: center;
        font-size: 9em;
        margin-bottom: .6em;
        padding: .3em;
        position: relative;
    }

    .nad-llums {
        width: 20px;
        height: 20px;
        position: absolute;
        border-radius: 50px;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px);
        overflow: hidden;

        &:nth-child(2n+1) {
            @include animacio(flash1, .3);
        }

        &:nth-child(4n+2) {
            @include animacio(flash2, 1s);
        }

        &:nth-child(odd) {
            @include animacio(flash1, .5s);
        }

        &:nth-child(3n+1) {
            @include animacio(flash3, .2s);
        }

        .fonsBulb {
            height: 20px;
            width: 20px;
            mix-blend-mode: screen;
            background: radial-gradient(circle, rgba(255, 255, 255, 1) 15%, rgb(143, 143, 143) 35%, rgb(0, 0, 0) 100%);
            bottom: 80%;
        }
    }

    // Bombeta B
    #bulb1 {
        @include llums(35%, 60%, $primari);
    }

    #bulb2 {
        @include llums(20%, 50%, $secundari);
    }

    #bulb3 {
        @include llums(90%, 44%, $primari);
    }

    #bulbB1 {
        @include llums(6%, 20%, $primari);
    }

    #bulbB1-2 {
        @include llums(9%, 20%, $primari);
    }

    #bulbB2 {
        @include llums(6%, 28%, $primari);
    }

    #bulbB3 {
        @include llums(6%, 36%, $primari);
    }

    #bulbB3-2 {
        @include llums(9%, 36%, $primari);
    }

    #bulbB4 {
        @include llums(12%, 24%, $primari);
    }

    #bulbB5 {
        @include llums(9%, 28%, $primari);
    }

    #bulbB6 {
        @include llums(12%, 32%, $primari);
    }

    // Bombeta o
    #bulbO1 {
        @include llums(19%, 26%, $secundari);
    }

    #bulbO2 {
        @include llums(17%, 31%, $secundari);
    }

    #bulbO3 {
        @include llums(19%, 36%, $secundari);
    }

    #bulbO4 {
        @include llums(21%, 31%, $secundari);
    }

    #bulbN1 {
        @include llums(25%, 26%, $primari);
    }

    // Bombeta n
    #bulbN2 {
        @include llums(25%, 31%, $primari);
    }

    #bulbN3 {
        @include llums(25%, 36%, $primari);
    }

    #bulbN4 {
        @include llums(28%, 26%, $primari);
    }

    #bulbN5 {
        @include llums(30%, 31%, $primari);
    }

    #bulbN6 {
        @include llums(30%, 36%, $primari);
    }

    // Bombeta N
    #bulbN-2-1 {
        @include llums(44%, 20%, $secundari);
    }

    #bulbN-2-2 {
        @include llums(44%, 28%, $secundari);
    }

    #bulbN-2-3 {
        @include llums(44%, 36%, $secundari);
    }

    #bulbN-2-4 {
        @include llums(46%, 24%, $secundari);
    }

    #bulbN-2-4b {
        @include llums(48%, 28%, $secundari);
    }

    #bulbN-2-5 {
        @include llums(50%, 32%, $secundari);
    }

    #bulbN-2-6 {
        @include llums(52%, 20%, $secundari);
    }

    #bulbN-2-7 {
        @include llums(52%, 28%, $secundari);
    }

    #bulbN-2-8 {
        @include llums(52%, 36%, $secundari);
    }

    // Bombeta a
    #bulbA1 {
        @include llums(56%, 36%, $primari);
    }

    #bulbA2 {
        @include llums(62%, 36%, $primari);
    }

    #bulbA3 {
        @include llums(57%, 31%, $primari);
    }

    #bulbA4 {
        @include llums(61%, 31%, $primari);
    }

    #bulbA5 {
        @include llums(59%, 27%, $primari);
    }

    #bulbA6 {
        @include llums(62%, 27%, $primari);
    }

    // Bombeta a 2
    #bulbA-2-1 {
        @include llums(74%, 36%, $primari);
    }

    #bulbA-2-2 {
        @include llums(80%, 36%, $primari);
    }

    #bulbA-2-3 {
        @include llums(75%, 31%, $primari);
    }

    #bulbA-2-4 {
        @include llums(79%, 31%, $primari);
    }

    #bulbA-2-5 {
        @include llums(76%, 24%, $primari);
    }

    #bulbA-2-6 {
        @include llums(77%, 27%, $primari);
    }

    // Bombeta d
    #bulbD1 {
        @include llums(67%, 36%, $secundari);
    }

    #bulbD2 {
        @include llums(70%, 36%, $secundari);
    }

    #bulbD3 {
        @include llums(66%, 31%, $secundari);
    }

    #bulbD4 {
        @include llums(70%, 31%, $secundari);
    }

    #bulbD5 {
        @include llums(67%, 26%, $secundari);
    }

    #bulbD6 {
        @include llums(70%, 26%, $secundari);
    }

    #bulbD7 {
        @include llums(70%, 22%, $secundari);
    }

    #bulbD8 {
        @include llums(70%, 18%, $secundari);
    }

    #bulbL0 {
        @include llums(84%, 20%, $secundari);
    }

    // Bombeta l
    #bulbL1 {
        @include llums(86%, 20%, $secundari);
    }

    #bulbL2 {
        @include llums(86%, 26%, $secundari);
    }

    #bulbL3 {
        @include llums(86%, 31%, $secundari);
    }

    #bulbL4 {
        @include llums(86%, 36%, $secundari);
    }

    // Bombeta 2 1
    #bulb2-1-1 {
        @include llums(30%, 58%, $secundari);
    }

    #bulb2-1-2 {
        @include llums(32%, 56%, $secundari);
    }

    #bulb2-1-3 {
        @include llums(34%, 56%, $secundari);
    }

    #bulb2-1-4 {
        @include llums(36%, 58%, $secundari);
    }

    #bulb2-1-5 {
        @include llums(36%, 63%, $secundari);
    }

    #bulb2-1-6 {
        @include llums(34%, 67%, $secundari);
    }

    #bulb2-1-7 {
        @include llums(32%, 70%, $secundari);
    }

    #bulb2-1-8 {
        @include llums(30%, 75%, $secundari);
    }

    #bulb2-1-9 {
        @include llums(32%, 75%, $secundari);
    }

    #bulb2-1-10 {
        @include llums(34%, 75%, $secundari);
    }

    #bulb2-1-11 {
        @include llums(36%, 75%, $secundari);
    }

    // Bombeta 0-1
    #bulb0-1-1 {
        @include llums(42%, 56%, $primari);
    }

    #bulb0-1-2 {
        @include llums(40%, 60%, $primari);
    }

    #bulb0-1-3 {
        @include llums(40%, 65%, $primari);
    }

    #bulb0-1-4 {
        @include llums(40%, 70%, $primari);
    }

    #bulb0-1-5 {
        @include llums(44%, 75%, $primari);
    }

    #bulb0-1-6 {
        @include llums(46%, 60%, $primari);
    }

    #bulb0-1-7 {
        @include llums(46%, 65%, $primari);
    }

    #bulb0-1-8 {
        @include llums(46%, 70%, $primari);
    }

    #bulb0-1-9 {
        @include llums(42%, 75%, $primari);
    }

    #bulb0-1-10 {
        @include llums(44%, 56%, $primari);
    }

    #bulb0-1-11 {
        @include llums(43%, 65%, $primari);
    }

    // Bombeta 2 2
    #bulb2-2-1 {
        @include llums(50%, 58%, $secundari);
    }

    #bulb2-2-2 {
        @include llums(52%, 56%, $secundari);
    }

    #bulb2-2-3 {
        @include llums(54%, 56%, $secundari);
    }

    #bulb2-2-4 {
        @include llums(56%, 58%, $secundari);
    }

    #bulb2-2-5 {
        @include llums(56%, 63%, $secundari);
    }

    #bulb2-2-6 {
        @include llums(54%, 67%, $secundari);
    }

    #bulb2-2-7 {
        @include llums(52%, 70%, $secundari);
    }

    #bulb2-2-8 {
        @include llums(50%, 75%, $secundari);
    }

    #bulb2-2-9 {
        @include llums(52%, 75%, $secundari);
    }

    #bulb2-2-10 {
        @include llums(54%, 75%, $secundari);
    }

    #bulb2-2-11 {
        @include llums(56%, 75%, $secundari);
    }

    // Bombeta 0-2
    #bulb0-2-1 {
        @include llums(62%, 56%, $primari);
    }

    #bulb0-2-2 {
        @include llums(60%, 60%, $primari);
    }

    #bulb0-2-3 {
        @include llums(60%, 65%, $primari);
    }

    #bulb0-2-4 {
        @include llums(60%, 70%, $primari);
    }

    #bulb0-2-5 {
        @include llums(64%, 75%, $primari);
    }

    #bulb0-2-6 {
        @include llums(66%, 60%, $primari);
    }

    #bulb0-2-7 {
        @include llums(66%, 65%, $primari);
    }

    #bulb0-2-8 {
        @include llums(66%, 70%, $primari);
    }

    #bulb0-2-9 {
        @include llums(62%, 75%, $primari);
    }

    #bulb0-2-10 {
        @include llums(64%, 56%, $primari);
    }

    #bulb0-2-11 {
        @include llums(63%, 65%, $primari);
    }

    // Botó switch
    .nad-contSwitch {
        width: 10em;
        height: 4em;
        background: #7d7d7d;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 4px solid #5d5d5d;

        .nad-switchButton {
            width: 3.5em;
            height: 3.5em;
            box-sizing: border-box;
            background: #fff;
            border-radius: 50px;
            margin-left: .2em;
            margin-right: .2em;
        }

        .nad-textOn,
        .nad-textOff {
            color: #fff;
            text-align: center;
            font-size: 1.5em;
            width: 50%;
        }

        #textOn {
            display: block;
        }

        #textOff {
            display: none;
        }
    }
}

.nad-contSwitchImg {
    width: 13em;
    height: 6em;
    position: relative;
    display: flex;
}

#buttonOff {
}

.switch {
    width: 13em;
    height: 6em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('../img/switchOn.svg');
}

#switchOff-Img {
    position: absolute;
}

#switchOn-Img {
    position: absolute;
}