* {
    margin: 0;
    padding: 0;
}

// Test de canvis
@import 'colors';
@import 'mixins';

.nad-cuerpo {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anonymous Pro', monospace;
    font-weight: 700;
    flex-direction: column;

    h1 {
        color: #111;

        // #888;
        text-align: center;
        font-size: 9em;
        margin-bottom: .6em;
        padding: .3em;
        position: relative;
    }

    .nad-llums {
        width: 20px;
        height: 20px;
        position: absolute;
        border-radius: 50px;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px);
        overflow: hidden;

        .fonsBulb {
            height: 20px;
            width: 20px;
            mix-blend-mode: screen;
            background: radial-gradient(circle, rgba(255, 255, 255, 1) 15%, rgb(143, 143, 143) 35%, rgb(0, 0, 0) 100%);
            bottom: 80%;
        }
    }

    #bulb1 {
        @include llums(35%, 60%, $primari);
    }

    #bulb2 {
        @include llums(20%, 50%, $secundari);
    }

    #bulb3 {
        @include llums(90%, 44%, $primari);
    }

    #bulbB1 {
        @include llums(6%, 20%, $primari);
    }

    #bulbB1-2 {
        @include llums(9%, 20%, $primari);
    }

    #bulbB2 {
        @include llums(6%, 28%, $primari);
    }

    #bulbB3 {
        @include llums(6%, 36%, $primari);
    }

    #bulbB3-2 {
        @include llums(9%, 36%, $primari);
    }

    #bulbB4 {
        @include llums(12%, 24%, $primari);
    }

    #bulbB5 {
        @include llums(9%, 28%, $primari);
    }

    #bulbB6 {
        @include llums(12%, 32%, $primari);
    }

    #bulbO1 {
        @include llums(19%, 26%, $secundari);
    }

    #bulbO2 {
        @include llums(17%, 31%, $secundari);
    }

    #bulbO3 {
        @include llums(19%, 36%, $secundari);
    }

    #bulbO4 {
        @include llums(21%, 31%, $secundari);
    }

    #bulbN1 {
        @include llums(25%, 26%, $primari);
    }

    #bulbN2 {
        @include llums(25%, 31%, $primari);
    }

    #bulbN3 {
        @include llums(25%, 36%, $primari);
    }

    #bulbN4 {
        @include llums(28%, 26%, $primari);
    }

    #bulbN5 {
        @include llums(30%, 31%, $primari);
    }

    #bulbN6 {
        @include llums(30%, 36%, $primari);
    }

    #bulbN-2-1 {
        @include llums(44%, 20%, $secundari);
    }

    #bulbN-2-2 {
        @include llums(44%, 28%, $secundari);
    }

    #bulbN-2-3 {
        @include llums(44%, 36%, $secundari);
    }

    #bulbN-2-4 {
        @include llums(46%, 24%, $secundari);
    }

    #bulbN-2-4b {
        @include llums(48%, 28%, $secundari);
    }

    #bulbN-2-5 {
        @include llums(50%, 32%, $secundari);
    }

    #bulbN-2-6 {
        @include llums(52%, 20%, $secundari);
    }

    #bulbN-2-7 {
        @include llums(52%, 28%, $secundari);
    }

    #bulbN-2-8 {
        @include llums(52%, 36%, $secundari);
    }

    #bulbA1 {
        @include llums(56%, 36%, $secundari);
    }

    #bulbA2 {
        @include llums(59%, 36%, $secundari);
    }

    #bulbA3 {
        @include llums(56%, 31%, $secundari);
    }

    #bulbA4 {
        @include llums(59%, 31%, $secundari);
    }

    #bulbA5 {
        @include llums(56%, 24%, $secundari);
    }

    #bulbA6 {
        @include llums(59%, 27%, $secundari);
    }

    #bulb7 {
        @include llums(60%, 75%, $primari);
    }

    #bulb8 {
        @include llums(48%, 104%, $secundari);
    }

    #bulb9 {
        @include llums(75%, 0, $primari);
    }

    .nad-contSwitch {
        width: 10em;
        height: 5em;
        background: #111;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nad-switchButton {
            width: 4em;
            height: 4em;
            padding: 1em;
            box-sizing: border-box;
            background: #fff;
            border-radius: 50px;
            margin-left: .5em;
            margin-right: .5em;
        }

        .nad-textOn,
        .nad-textOff {
            color: #fff;
            text-align: center;
            font-size: 2em;
            width: 60%;
        }

        #textOn {
            display: block;
        }

        #textOff {
            display: none;
        }
    }
}